<!DOCTYPE html>
<html>
{% block content %}

<body>
    <section class="indent-1">
        <!-- Section 1 -->
        <section>
            <form action="/home" method="POST">
                <h1>Add status</h1>
                <input autocomplete="off" name="name">
                <button class="sumbit">Add</button>
            </form>
            <table>
                {%for status in statuses%}
                <tr>
                    <th>
                        {{status.name}}
                    </th>
                    <th>
                        <button onclick="location.href='/remove?name={{status.name}}'" >remove</button>
                    </th>
                    <th>
                        [status]
                    </th>
                </tr>
                {%endfor%}
            </table>
        </section>

        <!-- Section 2 -->
        <section>
            <form action="/home" method="POST">
                <h1>Add transition</h1>
                <input autocomplete="off" name="transition">
                <label for="cars">Choose a car:</label>
                , from:
                <select name="from_user">
                    <option value=""></option>
                    {%for status in statuses%}
                    <option value={{status.name}}> {{status.name}}</option>
                    {%endfor%}
                </select>
                , to:
                <select name="to_user">
                    <option value=""></option>
                    {%for status in statuses%}
                    <option value={{status.name}}> {{status.name}}</option>
                    {%endfor%}
                </select>
                <button class="sumbit">Add</button>
            </form>
            <table>
                {%for transition in transitions%}
                <tr>
                    <th>
                        {{transition.name}}
                    </th>
                    <th>
                        {{transition.from_user}}
                    </th>
                    <th>
                        {{transition.to_user}}
                    </th>

                    <th>
                        <button onclick="location.href='/remove?transition={{transition.name}}'" >remove</button>
                    </th>

                </tr>
                {%endfor%}
            </table>
        </section>
        <!-- <section class="indent-3"> -->
            <!-- <button>Reset</button> -->
        <!-- </section> -->

    </section>
    <button onclick="location.href='/remove?reset=reset'" >Reset</button>



</body>
<style>
    .indent-1 {
        float: left;
    }

    .indent-1 section {
        /* width: 50%; */
        float: left;
    }

    .indent-3 {
        /* width: 50%; */
        float: inline-end;
    }
</style>
<script>
    function edit() {
        // var a = document.getElementById('a');
        // a.onclick = function () {
        //     return confirm("Are you sure you want to leave?");
        // };
    }

</script>
{% endblock %}

</html>