<!DOCTYPE html>
<html>
{% block content %}

<body>
    <div class="float-container">
        <div class="float-child">
            <form action="/add" method="POST">
                <h1>Add status</h1>
                <input autocomplete="off" name="name">
                <button class="sumbit">Add</button>
            </form>
            <table>
                <ul>
                    {%for status in statuses%}
                    <tr>
                        <th>
                            <li onclick="edit('{{status.name}}')"><input type="radio" name="status_name">
                                {{status.name}} <br></li>
                        </th>
                        <th>
                            <button onclick="location.href='/remove?name={{status.name}}'">remove</button>
                        </th>
                        <th>
                            <p id="text_{{status.name}}"></p>
                        </th>
                    </tr>
                    {%endfor%}
                </ul>
            </table>
        </div>

        <div class="float-child">
            <form action=" /add" method="POST">
                <h1>Add transition</h1>
                <input autocomplete="off" name="transition">
                , from:
                <select name="from_user" id="from_user" onchange="manageDropDown()">
                    <option value=""></option>
                    {%if statuses|length >0%}

                    {%for status in statuses%}
                    <option value={{status.name}}> {{status.name}}</option>
                    {%endfor%}
                    {%endif%}

                </select>
                , to:
                <select name="to_user" id="to_user">
                    <option value=""></option>
                    {%for status in statuses%}
                    <option value={{status.name}}> {{status.name}}</option>
                    {%endfor%}
                </select>
                <button class="sumbit">Add</button>
            </form>
            <table>
                {%if transitions|length >0%}
                <ul>
                    {%for transition in transitions%}
                    <tr>


                        <th>
                            <li>
                                {{transition.name}}:
                            </li>
                        </th>


                        <th>
                            {{transition.from_user}} ->
                        </th>
                        <th>
                            {{transition.to_user}}
                        </th>

                        <th>
                            <button onclick="location.href='/remove?transition={{transition.name}}'">remove</button>
                        </th>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </ul>
            </table>
        </div>
    </div>
    <div class="float-child2">
        <button onclick="location.href='/remove?reset=reset'" class ="button1">Reset</button>
    </div>


</body>
<style>
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
        margin: auto;
    }

    .float-child {
        width: 30%;
        margin: auto;
        float: left;
        margin: auto;
        padding: 20px;
    }
    .float-child2 {
        width: 10%;
        clear: both;
        margin: auto;
        padding: 20px;
    }
    .button1 {
  background-color: #ff0000;
  border: none;
  color: rgb(0, 0, 0);
  /* padding: 20px; */
  height: 100px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 50%;
}
</style>
<script>
    function manageDropDown() {
        var selectObject = document.getElementById("to_user");
        var selectObject2 = document.getElementById("from_user");
        if (selectObject2.value != "") {
            for (var i = 0; i < selectObject.length; i++) {
                if (selectObject[i].value == selectObject2.value) {
                    selectObject.remove(i);
                    break;
                }
            }
        }
        else {
            selectObject.innerHTML = "";
            for (var i = 0; i < selectObject2.length; i++) {
                var opt = document.createElement('option');
                opt.innerHTML = selectObject2[i].value;
                selectObject.appendChild(opt);
            }
        }
    }
    function edit(id) {
        "{%for status in statuses %}"
        document.getElementById("text_{{status.name}}").innerHTML = "[ORPHAN]";
        "{%endfor%}"
        document.getElementById(('text_' + id)).innerHTML = "[INIT]";
        getFinalTransition(getListOfTransitions(), id);
    }
    function getListOfTransitions() {
        var list = []
        "{%for transition in transitions %}"
        list.push(["{{transition.from_user}}", "{{transition.to_user}}"])
        "{%endfor%}"
        return list;
    }
    function getFinalTransition(transition_lst, beginning) {
        var havePath = false;
        for (var i = 0; i < transition_lst.length; i++) {

            if (beginning == transition_lst[i][0]) {
                var temp_list = transition_lst;
                temp_list = temp_list.filter(function (e) { return e !== transition_lst[i] });
                if (document.getElementById("text_" + transition_lst[i][1]).innerHTML == "[ORPHAN]") {
                    document.getElementById("text_" + transition_lst[i][1]).innerHTML = ""
                }
                getFinalTransition(temp_list, transition_lst[i][1]);
                havePath = true;
            }
        }
        if (!havePath) {
            if (!document.getElementById("text_" + beginning).innerHTML.includes("[FINAL]")) {
                document.getElementById("text_" + beginning).innerHTML += " [FINAL]";
            }
        }
    }
</script>
{% endblock %}

</html>